.tc_sender_account,.tc_general,.tc_destination_account{
  padding: 2% 2% 2% 2%;
  text-align: center;
  border-radius: 0.5em;
	background-color: rgba(0, 168, 232, 0.1);
  align-content: center;
}
.col{
  align-items: center;
  align-content: center;
}
.tc_general{
  margin-top:7%;
}
