<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Account details</title>
</head>

<body>
	<div class="logout">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<div class="go_back">
		<a th:href="@{/GoToHome}">Go back to Home</a>
	</div>

	<h1 class="account_details">Account Details</h1>
	<div class="account_name" th:text="${account.name}">Conto di default</div>
	<div class="account_code">Your account code is: <span th:text="${account.ID}">1</span></div>
	<div class="account_balance">Your balance is: <span th:text="${account.balance}">2000 </span>&euro;</div>

	<div class="require_transfer">
		<h1 class="require_transfer_form_title">Require Transfer</h1>
		<p>Complete the form to make a transfer</p>
		<form action="#" th:action="@{/MakeTransfer}" name="require_transfer_form" method="post">
			<fieldset form="require_transfer_form">
				<div class="input_form">
					<label for="recipientID">Recipient Account ID</label>
					<input type="number" name="recipientID" placeholder="Enter the code of the destination account" min=1 required /><br>
				</div>

				<div class="input_form">
					<label for="recipientUserID">Recipient User ID</label>
					<input type="number" name="recipientUserID" placeholder="Enter the code of the owner of the destination account" min=1 required /><br>
				</div>

				<div class="input_form">
					<label for="amount">Amount</label>
					<input type="number" name="amount" placeholder="Enter the amount you want to transfer" min=0.01 step=0.01 required /><br>
				</div>

				<div class="input_form">
					<label for="reason">Reason</label>
					<input type="text" name="reason" placeholder="Enter the reason of your transfer" maxlength=255 required /><br>
				</div>

				<input type="hidden" name="senderID" th:value="${account.id}" required />

				<button type="submit" name="action" value="sendtransfer">Sumbit</button><br>

			</fieldset>
		</form>
	</div>

	<div class="account_transfers">
		<h1 class="account_transfers_title">Your Transfers</h1>
		<div th:switch="${transfers.size}">
			<div th:case="0">
				<div class="no_transfers">You don't have any transfer in this account</div>
			</div>
			<div th:case="*">
			<div th:each="t : ${transfers}">
			<div th:class="(${account.ID}==${t.senderID} ? 'red_transfer' : 'green_transfer')">
				<div>ID: <span class="t_transferID" th:text="${t.ID}"> 1</span><br></div>
				<div><span th:text="(${t.senderID} == ${account.ID}) ? 'Destination account: ' : 'Source account: '">Source account: </span><span th:text="(${t.senderID} == ${account.ID}) ? ${t.recipientID} : ${t.senderID}">00000</span></div>
				<div>Amount: <span class="t_amount" th:text="${t.amount}">amount: 100</span>&euro;<br></div>
				<div>Reason: <span class="t_reason" th:text="${t.reason}">transfer reason: my reason</span><br></div>
				<div>Timestamp: <span class="t_timestamp" th:text="${t.timestamp}">transfer timestamp: timestamp</span><br></div>
			</div>
			</div>
			</div>
		</div>
	</div>

</body>

</html>
