<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/CSS/style.css}" />
</head>

<body>

  <div class="home_left">

    <div class="logout">
      <a th:href="@{/Logout}">Logout</a>
    </div>

    <div class="user_data">
      <h1>
        <span class="user_fullname" th:text="${session.user.surname + ', ' + session.user.name}">Surname, Name</span><br>
        <small class="welcome_msg">Welcome back!</small>
      </h1><br>
      <span>Your summary: 0</span>&euro;<br>
    </div>

    <div class="add_account">
      <form action="#" th:action="@{/CreateAccount}" name="newacc_form" method="post">
        <fieldset form="newacc_form">

          <div class="input_form">
            <label for="accountName">New Account</label><br>
            <input type="text" name="accountName" placeholder="Bank account" maxlength=40 required /><br>
          </div>

        </fieldset>

        <button type="submit" name="action" value="createaccount">Create</button><br>

      </form>
    </div>
  </div>

  <div class="home_right">
    <h1 class="bank_accounts_title">Your Accounts</h1>
    <div class="account_list">
      <div class="clickable bank_account" th:each="acc : ${accounts}">
        <span class="acc_name" th:text="${acc.name}">Default</span>
        <span class="acc_balance" th:text="${acc.balance}">1000</span>&euro;
        <a th:href="@{/SelectAccount(bankAccountID=${acc.id})}"><span class="fill_div"></span></a>
      </div> <br>
    </div>
  </div>

</body>

</html>
