<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/CSS/style.css}" />
</head>

<body>

  <div class="login_box">
    <div class="login_box_credentials">

      <form th:action="@{/Login}" name="login_form" method="POST">
        <fieldset form="login_form">

          <div class="input_form">
            <label for="email">E-mail</label><br>
            <input type="email" placeholder="E-mail address" maxlength=50 name="email" required /><br>
          </div>

          <div class="input_form">
            <label for="password">Password</label><br>
            <input type="password" placeholder="*****" minlength=8 maxlength=50 name="password" required /><br>
          </div>

        </fieldset>

        <input type="submit" id="submit-form" class="hidden"/>

      </form>

    </div>

    <div class="login_box_right">

      <h1 class="bank_name">PolimiBank</h1>
      <p>Noi siamo la PolimiBank</p>

      <label class="button login" for="submit-form" tabindex="0">Submit</label></br>
      <a class="button register" th:href="@{/Register}">Register</a>
    </div>

  </div>

</body>

</html>
