<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/CSS/style.css}" />
	<title>Transfer Confirmed</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 logout">
				<a class="btn btn-lg active yellow-button" role="button" th:href="@{/Logout}">Logout</a>
			</div>
			<br>
			<div class="col-md-3 go_back">
				<a class="btn btn-lg active yellow-button" role="button" th:href="@{/SelectAccount(bankAccountID = ${sender.ID})}">Go back to your account</a>
			</div>
		</div>
				<br>
		<div class="row">
			<div class="col-md-4 tc_sender_account">
				<span th:text="'Sender Account ID: ' + ${sender.ID}">Sender Account ID: 1</span><br>
				<span th:text="'Owner ID: ' + ${sender.userID}">Owner ID: 1</span><br>
				<span th:text="'Account name: ' + ${sender.name}">Account name: conto1</span><br>
				<span th:text="'Old balance: ' + ${sender.balance}">Old Balance: 500&euro;</span><br>
				<span th:text="'New balance: ' + ${newBalanceSenderAccount}">New Balance: 400&euro;</span><br>
			</div>
			<br>
			<div class="col-md-4 tc_general">
				<span class="tc_general" th:text="'Reason: ' + ${reason}"> Reason: shopping</span><br>
				<span class="tc_general" th:text="'Amount ' + ${amount}">Amount: 100&euro;</span><br>
			</div>
			<br>
			<div class="col-md-4 tc_destination_account">
				<span th:text="'Recipient Account ID: ' + ${recipient.ID}"> Recipient Account ID: 2</span><br>
				<span th:text="'Owner ID: ' + ${recipient.userID}"> Owner ID: 2</span><br>
				<span th:text="'Account name: ' + ${recipient.name}">Account name: conto2</span><br>
				<span th:text="'Old balance: ' + ${recipient.balance}">Old Balance: 300&euro;</span><br>
				<span th:text="'New balance: ' + ${newBalanceRecipientAccount}">New Balance: 400&euro;</span><br>
			</div>
		</div>
	</div>
</body>

</html>
