<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transfer Confirmed</title>
</head>
<body>
	<div class="logout">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<br>
	<div class="go_back">
		<a th:href="@{/SelectAccount(bankAccountID = ${senderAccount.ID})}">Go back to your account</a>
	</div>
	<br>
	<div class="tc_sender_account">
		Sender Account ID:<span  th:value="'Sender Account ID: ' + ${senderAccount.ID}"> 1</span><br>
		Owner ID:<span  th:value="'Ownwe ID: ' + ${senderAccount.userID}"> 1</span><br>
		Account name:<span  th:value="'Account name: ' + ${senderAccount.name}"> conto1</span><br>
		Old Balance:<span  th:value="'Old balance: ' + ${oldBalanceSenderAccount}"> 500&euro;</span><br>
		New Balance:<span  th:value="'New balance: ' + ${senderAccount.balance}"> 400&euro;</span><br>
	</div>
	<br>
	<div class="tc_general">
		Reason:<span class="tc_general" th:value="'Reason: ' + ${reason}"> shopping</span><br>
		Amount:<span class="tc_general" th:value="'Amount ' + ${amount}"> 100&euro;</span><br>
	</div>
	<br>
	<div class="tc_destination_account">
		Recipient Account ID:<span  th:value="'Recipient Account ID: ' + ${recipientAccount.ID}"> 2</span><br>
		Owner ID:<span  th:value="'Ownwe ID: ' + ${recipientAccount.userID}"> 2</span><br>
		Account name:<span  th:value="'Account name: ' + ${recipientAccount.name}"> conto2</span><br>
		Old Balance:<span  th:value="'Old balance: ' + ${oldBalanceRecipientAccount}"> 300&euro;</span><br>
		New Balance:<span  th:value="'New balance: ' + ${recipientAccount.balance}"> 400&euro;</span><br>
	</div>
</body>
</html>