<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Transfer Confirmed</title>
</head>

<body>
	<div class="logout">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<br>
	<div class="go_back">
		<a th:href="@{/SelectAccount(bankAccountID = ${sender.ID})}">Go back to your account</a>
	</div>
	<br>
	<div class="tc_sender_account">
		Sender Account ID:<span th:text="'Sender Account ID: ' + ${sender.ID}"> 1</span><br>
		Owner ID:<span th:text="'Ownwe ID: ' + ${sender.userID}"> 1</span><br>
		Account name:<span th:text="'Account name: ' + ${sender.name}"> conto1</span><br>
		Old Balance:<span th:text="'Old balance: ' + ${oldBalanceSenderAccount}"> 500&euro;</span><br>
		New Balance:<span th:text="'New balance: ' + ${sender.balance}"> 400&euro;</span><br>
	</div>
	<br>
	<div class="tc_general">
		Reason:<span class="tc_general" th:text="'Reason: ' + ${reason}"> shopping</span><br>
		Amount:<span class="tc_general" th:text="'Amount ' + ${amount}"> 100&euro;</span><br>
	</div>
	<br>
	<div class="tc_destination_account">
		Recipient Account ID:<span th:text="'Recipient Account ID: ' + ${recipientAccount.ID}"> 2</span><br>
		Owner ID:<span th:text="'Ownwe ID: ' + ${recipient.userID}"> 2</span><br>
		Account name:<span th:text="'Account name: ' + ${recipient.name}"> conto2</span><br>
		Old Balance:<span th:text="'Old balance: ' + ${oldBalanceRecipientAccount}"> 300&euro;</span><br>
		New Balance:<span th:text="'New balance: ' + ${recipient.balance}"> 400&euro;</span><br>
	</div>
</body>

</html>
