@charset "UTF-8";
/*General*/
.hidden {
	display: none;
}
.clickable {
	position: relative;
}
.fill_div {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

.container-fluid,body{
	background-color: #F0F6F6;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

.yellow-button{
	color: #F0F6F6;
	background-color: #FFB140;
}
.yellow-button:hover{
	color: #FFB140;
	background-color: #F0F6F6;
}
.blue-button{
	color: #F0F6F6;
	background-color: #00a8e8;
}
.blue-button:hover{
	color: #00a8e8;
	background-color:#F0F6F6;
}
.blue-button:active{
	color: #00a8e8;
	background-color:#F0F6F6;
}
.title{
	color: #084b83;
}
.form-control{
	border: 1px solid #084b83;
}
.form-control:focus{
	border: 1px solid #00a8e8;
}
